.newsItemContainer{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    background-color: orange;
    border-radius: 5px;
    margin: 20px;
}

.newsItemContainer *{
    color: black;
}